{% extends "base.html" %}

{% block title %}
Welcome!
{% endblock %}


{% block content%}


    <div class="content-area">
		<div class="filter-bar">
			<ul>
				<li> <a href="http://127.0.0.1:8000/user/"> All </a></li>
				<li> <a href="http://127.0.0.1:8000/user/profile/"> Map </a></li>
				<li> <a href="http://127.0.0.1:8000/user/portoflio/"> Photos </a></li>
				<li> <a href="http://127.0.0.1:8000/user/posts/"> More </a></li>
				<li> <a href="http://127.0.0.1:8000/user/search/"> Search in Results </a></li>
			</ul>
		</div>
	</div>

{% endblock %}